:root {
    --title-color: #212121;
    --text-color: #757575;
    --background-color: #ffffff;
    --brand-color: #2196f3;
  }
  .header {
    border: 1px solid #ececec;
    display:flex;
    justify-content: space-between;
    align-items: center;
  }
  /*logo*/
  .logo {
    text-decoration: none;
    color: #000;
    font-family: "Raleway";
    font-weight: 700;
    font-size: 26px;
    line-height: 1.18;
    letter-spacing: 3%;

    
  }
  .logo-color {
    color: var(--brand-color);
  }
  .logo-second-color {
    color: var(--background-color);
  }
  /*Body*/
  body {
    font-family: "Roboto", sans-serif;
    background-color: var(--background-color);
    color: var(--title-color);
    
  }
  /*Lists*/
  .header-links,
  .link1, .link2,
  .header-contacts,
  .qualities-list,
  .team-list,
  .button-list,
  .projects-list > ul {
    list-style: none;
    display:flex;
    gap:10px;
  }
  
  .footer-contacts{list-style:none;}
  
  /*Links*/
  .link1 {
    text-decoration:none;
    color: var(--title-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.18;
    letter-spacing: 2%;
    color:#2196f3;
  }
 .link2{color: #212121;
  font-size: 14px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
 }
 
  
  .contacts:hover,
  .link1:hover,
  .link2:hover,
  .contacts:focus,
  .link1:focus,
  .link2:focus {
    color: var(--brand-color);
  }
  /*Contacts*/
  .contacts1 {
  
    color: #2196F3;
    font-size: 14px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
  }
  .contacts2{
    color: #757575;
font-size: 14px;
font-family: Roboto;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: 0.28px;
  }
  
  /*Main Section title + button*/
  .main-title-section {
    background-color: #2f303a;
    width: 1600px;
    height: 600px;
    flex-shrink: 0;
    text-align: center;
    justify-content: center;
    
  }
  .main-title {
    color: #fff;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 6%;
    width: 696px;
   flex-direction: column;
   flex-shrink: 0;
    text-align: center;
    position: absolute;
    top:40%;
    left:50%;
    transform:translate(-50%,-40%);
  }
  .main-button {
    width: 200px;
height: 50px;
flex-shrink: 0;
border-radius: 4px;
color:#FFF;
background: #2196F3;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15); 
text-align: center;
font-size: 16px;
font-family: Roboto;
font-style: normal;
font-weight: 700;
line-height: 1.87;
letter-spacing: 6%;
position:absolute;
top:60%;
left:50%;
transform: translate(-60%,-50%);
  }

  /*qualities*/
  .qualities-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.18;
    letter-spacing: 3%;
  }
  .qualities-content {
    color: #757575;
    font-size: 14px;
    line-height: 1.72;
    letter-spacing: 3%;
  }
  /*What we do*/
  .title-what-we-do {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.18;
    letter-spacing: 3%;
    text-align: center;
  }
  /*Our Team*/
  .title-our-team {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.18;
    letter-spacing: 3%;
    text-align: center;
  }
  .team-list {
    color: var(--title-color);
  }
  .our-team-member {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 3%;
    text-align: center;
  }
  .our-team-jobs {
    color: var(--text-color);
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 3%;
    text-align: center;
  }
  /*Portfolio page*/
  /*Buttons*/
  .button {
    background-color: #f5f4fa;
    color: var(--title-color);
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;
    text-align: center;
   
  }
  
  .button-all {
    width: 64px;
    height: 38px;
    flex-shrink: 0;

    border-radius: 4px;
    background: #2196F3;
   

/* shadow-middle */
box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
  }
  .button-web-sites {
    width: 120px;
    height: 38px;
  }
  .button-apps {
    width: 83px;
    height: 38px;
  }
  .button-design {
    width: 96px;
    height: 38px;
  }
  .button-container{
    display:flex;
    justify-content: center;
    
  }
  .button-list{
    display:flex;
    gap:10px;
    justify-content: center;
  }
  .button{
    padding:10px 20px;
    border:none;
    border-radius:5px;
  }
  .button-marketing {
    width: 121px;
    height: 38px;
  }
  .button:hover,
  .button:focus {
    background-color: var(--brand-color);
    color: var(--background-color);
  }
  /* Projects */
  .project {
    border: 1px solid #eee;
    display:flex;
    text-align:left;
   
  }
  .project li{
    display:flex;
    flex-direction:column;
    align-items: center;
    text-align:left;
  }
  .project-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 6%;
    justify-content: space-between;
    align-items:center;
    text-align:left;

  }
  .project-type {
    color: var(--text-color);
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 3%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
  }
  .projects-list{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap:20px;
   
  }
  
  /*Footer*/
  .footer {
    background-color: #2f303a;
    width: 1600px;
    height: 251px;
    flex-shrink: 0;
  }
  .footer-contacts {
    font-size: 14px;
    line-height: 1.18;
    letter-spacing: 3%;
  }
  .footer-location {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 3%;
  }
  /*Footer Adress*/
  .adress {
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 3%;
    color: #FFF;
    font-family: Roboto;
    font-style: normal;
     font-weight: 400;
     display: flex;
     width: 207px;
     height: 16px;
     flex-direction: column;
     flex-shrink: 0;

  }
  .location {
    color: var(--background-color);
    line-height: 1.18;
  }
  
  .adress:hover,
  .adress:focus {
    color: var(--brand-color);
  }